<div style="padding: 5%;">
    <!-- ENLACE PARA REGRESAR A LA LISTA PRINCIPAL -->
    <p>
        <a [routerLink]="['/']" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Back to List
        </a>
    </p>

    <h2 style="text-align: center; text-decoration: underline;">Edit Departamento</h2>

    <!-- FORMULARIO PARA EDITAR LOS DETALLES DEPARTAMENTOS -->
    <form #editForm="ngForm">
        <!-- CAMPO OCULTO PARA EL ID DEL DEPARTAMENTO -->
        <input type="hidden" name="cajaid" #cajaid [value]="departamento?.idDepartamento" />

        <!-- CAMPO DE TEXTO PARA EDITAR EL NOMBRE -->
        <label>Nombre</label>
        <input type="text" class="form-control" name="cajanombre" #cajanombre [value]="departamento?.nombre" />

        <!-- CAMPO DE TEXTO PARA EDITAR LA LOCALIDAD -->
        <label>Localidad</label>
        <input type="text" class="form-control" name="cajalocalidad" #cajalocalidad [value]="departamento?.localidad" />
        <br>
        <!-- BOTÓN PARA ACTUALIZAR EL DEPARTAMENTO -->
        <button class="btn btn-info" (click)="updateDepartamento()">
            Update
        </button>
    </form>
</div>